<header class="p-4 flex justify-between items-center w-full max-h-50px">
  <div class="h-full max-w-[250px] flex justify-center items-center">
    <img src="../assets/logo.png" class="h-[50px] mx-2">
    <div class="text-3xl text-[#e34432] font-bold">taskify</div>
  </div>
  <div class="max-w-2/3 h-full flex justify-center items-center ">
    <button class="text-xl px-4 py-2 border-none hover:bg-gray-100 rounded-xl">Features</button>
    <button class="text-xl px-4 py-2 border-none hover:bg-gray-100 rounded-xl">Resources</button>
    <button class="text-xl px-4 py-2 border-none hover:bg-gray-100 rounded-xl">Pricing</button>
    <div class="m-1 bg-gray-400 w-1 h-full rounded-xl text-gray-400">.</div>
    <button class="text-xl  px-4 py-2 hover:bg-gray-100 rounded-xl mx-2">Abouts</button>
    <button class="bg-[#e34432] text-white px-4 py-3 text-xl font-medium rounded-xl">Logged In</button>
  </div>

</header>
<div class="d-flex justify-content-center">
  <app-task></app-task>
</div>
<footer class="block relative w-full h-[250px] bg-[#ffffff6e]">
  <div class="block absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-full text-center">
      <div class="flex justify-center items-center w-full mb-4">
            <img src="../assets/logo.png" class="h-[50px] mx-2">
            <div class="text-3xl text-[#e34432] font-bold">taskify</div>
      </div>
      <p class="text-[20px] text-[#929292]">Copyright By Taskify</p>
      <p class="text-[20px] text-[#929292]">All rights reserved</p>
    </div>
</footer>