<div class="flex flex-col items-center justify-center">
    <div
        class="p-4 text-6xl max-sm:text-5xl max-sm:leading-normal transition-all duration-300 leading-normal font-extrabold text-center">
        Simplify Your Tasks<br> Amplify Your Productivity!!
    </div>
    <div class="text-xl w-2/3 text-slate-400 font-normal text-center">
        Stay focused, organized, and in control with our intuitive to-do list website, revolutionizing task management
        for users worldwide
    </div>
    <button class="bg-[#e34432] text-white px-4 py-3 my-3 text-xl font-medium rounded-xl">Get Started</button>
</div>

<div class="flex justify-center items-center">
    <video src="../../../assets/bg.webm" class="bg-blend-overlay absolute -z-10 h-100%" autoplay loop></video>
    <div class="w-[80%] max-xl:-bottom-[50%] min-h-[500px] p-4 bg-white rounded-xl h-auto border-2 shadow-sm">
        <div class="text-center text-3xl my-2 font-medium text-slate-700 bg-slate-50 p-3 rounded-full">
            Today's Tasks
        </div>
        <div class="flex max-xl:flex-col justify-center items-center">
            <div class="bg-red-100 rounded-xl p-2 w-[60%] h-full max-xl:w-full">
                @if(this.task.length===0){
                    <div class="p-2 text-xl text-center font-light">No Due Task At the Moment</div>
                }
                @else{
                    <div class="flex justify-center items-center">
                        <table class="border-2 border-black p-4">
                            @for(indivisualtask of task;track $index){
                            <tr class="p-2 border-2 border-black">
                                <app-task-item [indivisualtask]="indivisualtask" (deleteTask)="taskRemover($event)"></app-task-item>
                            </tr>
                            }
                        </table>
                    </div>
                }
            </div>

            <app-add-task-item class="w-[40%] max-xl:w-full p-2 m-2 rounded-xl bg-blue-100"
                (addTask)="taskAdd($event)"></app-add-task-item>

        </div>
    </div>
</div>