<header class="p-4 flex justify-between items-center w-full max-h-50px">
  <div class="h-full max-w-[250px] flex justify-center items-center">
    <img src="../assets/logo.png" class="h-[50px] mx-2">
    <div class="text-3xl text-[#e34432] font-bold">taskify</div>
  </div>
  <div class="max-w-2/3 h-full flex justify-center items-center ">
    <div class="text-xl px-4 max-[900px]:hidden">Features</div>
    <div class="text-xl px-4 max-[900px]:hidden">Resources</div>
    <div class="text-xl px-4 max-[900px]:hidden">Pricing</div>
    <div class=" border-l-2 px-4 text-xl max-[900px]:hidden">Log In</div>
    <button class="bg-[#e34432] text-white px-4 py-3 text-xl font-medium rounded-xl">Start for free</button>
  </div>

</header>
<div class="d-flex justify-content-center">
  <app-task></app-task>
</div>